<div>
    <h4>Canvas Settings</h4>
    <div class="checkbox theme-input-label">
        <label>
            <input class="theme-input" type="checkbox"
                   data-bind="checked: settings.plugins.canvas.applyTheme">
            <span>Use Canvas theme for Octoprint UI</span>
        </label>
        <label>
            <input class="important-update-input" type="checkbox"
                   data-bind="checked: settings.plugins.canvas.importantUpdate">
            <span>Show alerts about important updates</span>
        </label>
        <label>
            <button type="button" class="btn btn-primary reset-canvas-data-button">
                Reset Canvas Data
            </button>
        </label>
    </div>
</div>